@import '~src/styles';

@headerHeight: 110px;

.company-name {
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-right: 10px;
}

.triangle {
  margin-left: 10px;
  width: 20px;
  height: @headerHeight;

  &::after {
    content: '';
    position: absolute;
    border-top: @headerHeight solid @blue;
    border-right: 20px solid white;
  }
}

.logo {
  flex-shrink: 0;
  width: @headerHeight;
  height: @headerHeight;
  background: url('/assets/logo.svg') center center no-repeat;
  background-size: contain;
}

.menu {
  &__item {
    margin: 0 10px;
    font-size: 14px;
    color: black;
    font-weight: bold;
  }
}

.call {
  padding: 10px 0;
  margin-left: -1px;
  &__icon {
    flex-shrink: 0;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background: url('/assets/chat-red.svg') center center no-repeat;
    background-size: contain;
  }

  &__number {
    font-size: 16px;
    margin-top: 5px;
  }
}
