<div class="display-flex flex-cross-center flex-center flex-auto height-100">
    <div class="flex-auto height-100 bg-blue"></div>
    <div class="display-flex flex-cross-center flex-center bg-blue">
        <div class="logo"></div>
        <div class="company-name">{{ COMPANY_NAME }}</div>
        <div class="triangle bg-white"></div>
    </div>
    <div class="display-flex bg-white">
        <a class="menu__item" href="#about">ABOUT US</a>
        <a class="menu__item" href="#gallery">GALLERY</a>
        <a class="menu__item" href="#contact">CONTACT US</a>
    </div>
    <div class="call display-flex flex-cross-center bg-white">
        <div class="call__icon"></div>
        <div class="display-flex-column">
            <div class="secondary-text p12">Call us anytime</div>
            <div class="call__number">{{ PHONE_NUMBER }}</div>
        </div>
    </div>
    <div class="flex-auto height-100 bg-white"></div>
</div>

