@import '/src/styles';

@maxWidth: 860px;

:host {
  overflow: hidden;
}

.main-image {
  height: 200px;
  background: url('src/assets/main_xs.jpg') center center no-repeat;
  @media (min-width: 576px) {
    height: 300px;
    background: url('src/assets/main.jpg') center center no-repeat;
  }
  @media (min-width: 768px) {
    height: 400px;
    background: url('src/assets/main.jpg') center center no-repeat;
  }
  @media (min-width: 992px) {
    height: 500px;
    background: url('src/assets/main.jpg') center center no-repeat;
  }
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background: #ebebeb url('src/assets/map.svg') no-repeat fixed center center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content {
  padding-top: 50px;
  max-width: 600px;
  color: @secondaryColor;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  background: url('/src/assets/qq.svg') no-repeat center 10px;
  background-size: 170px 170px;
}

.gallery {
  display: flex;
  flex-direction: column;
  max-width: @maxWidth;
  & img {
    width: 100px;
    height: 100px;
    @media (min-width: 576px) {
      width: 180px;
      height: 180px;
    }
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @red;

  &__content {
    max-width: @maxWidth;
  }

  & button[type="submit"] {
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: @blue;
    padding: 10px 15px;
    &:disabled {
      opacity: 0.5;
    }
  }

  & input[type="text"],input[type="email"] {
    padding: 10px 15px;
    font-size: 14px;
    border: 0 none;
    min-width: 250px;
    font-family: 'Montserrat', sans-serif;
    &::placeholder {
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
    }
  }

  & textarea {
    height: 140px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border: 0 none;
    resize: none;
    &::placeholder {
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
    }
  }
}

.hint {
  font-size: 12px;
  font-weight: bold;
}

.call {
  &__icon {
    flex-shrink: 0;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background: url('src/assets/chat.svg') center center no-repeat;
    background-size: contain;
  }

  &__icon_mail {
    flex-shrink: 0;
    margin-left: 5px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background: url('src/assets/mail.svg') center center no-repeat;
    background-size: contain;
  }

  &__label {
    font-size: 12px;
  }

  &__value {
    font-size: 16px;
  }
}

.footer {
  max-width: @maxWidth;
  &__content {
    flex: auto;
    color: white;
  }
}

.logo {
  width: 200px;
  height: 200px;
  margin-top: -20px;
  background: url('src/assets/logo.svg') center center no-repeat;
  background-size: 250px 250px;
}

.phone-number {
  margin-top: 10px;
  font-size: 26px;
}

.email {
  margin-top: 20px;
  font-size: 14px;
}
