<div class="d-flex p-0 bg-blue">
    <div class="flex-auto d-none d-md-block"></div>
    <div class="container-lg p-0">
        <vz-header></vz-header>
    </div>
    <div class="flex-auto d-none d-md-block bg-white"></div>
</div>

<div class="main-image"></div>
<div class="main" id="about">
    <div class="about h1"><span class="text-red">ABOUT</span> US</div>
    <div class="content px-3" [innerText]="ABOUT"></div>
</div>
<div class="container-md gallery px-3 py-5" id="gallery">
    <div class="h1 text-red mb-5">Gallery</div>
    <div class="d-flex flex-column align-items-center">
        <lightgallery class="d-flex flex-wrap justify-content-center" [settings]="lightGallerySettings">
            <a class="d-block" *ngFor="let image of GALLERY?.photos" [href]="'assets/photos/' + image">
                <img [src]="'assets/photos/thumbs/' + image"/>
            </a>
        </lightgallery>
    </div>
</div>

<div class="contact-form" id="contact">
    <div class="contact-form__content container-md px-3 py-5">
        <div class="d-flex justify-content-center mb-5">
            <div class="h1 flex-auto">Get In Touch</div>
            <div class="hint ms-2">
                For quotes, questions or further information please contact us.<br>
                We look forward to hearing from you!
            </div>
        </div>

        <div class="container-fluid p-0">
            <div class="row">
                <div class="col col-sm-8">
                    <form ngNativeValidate [formGroup]="form" (ngSubmit)="sendEmail()">
                        <div class="container-fluid p-0">
                            <div class="row g-0">
                                <input class="col mx-2 my-2" type="text" required maxlength="50"
                                       formControlName="fromName"
                                       placeholder="Name *">
                                <input class="col mx-2 my-2" type="email" maxlength="50" formControlName="fromEmail"
                                       placeholder="Email">
                            </div>

                            <div class="row g-0">
                                <input class="col mx-2 my-2" type="text" maxlength="50"
                                       formControlName="subject"
                                       placeholder="Subject">
                                <input class="col mx-2 my-2" type="text" maxlength="50" formControlName="phone"
                                       placeholder="Phone Number">
                            </div>
                        </div>

                        <div class="d-flex flex-auto mx-2 my-2">
                            <textarea class="w-100" formControlName="message" required maxlength="1000"
                                      placeholder="Your Message *"></textarea>
                        </div>
                        <div class="mx-2 my-3" *ngIf="formSubmitting">Please wait...</div>
                        <div class="mx-2 my-3" *ngIf="formSubmitted">{{ config.formSubmitMessage }}</div>
                        <div class="mx-2 my-3 d-flex">
                            <button type="submit" [disabled]="formSubmitting">SEND MESSAGE</button>
                        </div>
                    </form>
                </div>
                <div class="col col-sm-4">
                    <div class="call d-flex align-items-center">
                        <div class="call__icon"></div>
                        <div class="d-flex flex-column">
                            <div class="call__label">Call us anytime</div>
                            <div class="call__value">{{ PHONE_NUMBER }}</div>
                        </div>
                    </div>
                    <div class="call d-flex align-items-center">
                        <div class="call__icon_mail"></div>
                        <div class="d-flex flex-column">
                            <div class="call__label">Send us a message</div>
                            <div class="call__value">{{ EMAIL }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer container-md px-3 py-5">
    <div class="footer__content">
        <div class="d-flex flex-auto">
            <div class="d-flex flex-column flex-auto">
                <div class="h2">CONTACT US</div>
                <div class="email">{{ EMAIL }}</div>
                <div class="phone-number">{{ PHONE_NUMBER }}</div>
            </div>
            <div class="logo"></div>
        </div>
    </div>
</div>

