<vz-header></vz-header>
<div class="main-image"></div>
<div class="main" id="about">
    <div class="about h1"><span class="text-red">ABOUT</span> US</div>
    <div class="content">
        VZ Steel is proud to provide top-quality steel fixing jobs completed to the best standard. No job is too big or
        too
        small for our experienced and committed team. Whether your project is residential or commercial we will always
        be on
        hand to get the job done right and on time. We believe our experience, dedication and individual approach can
        make a
        huge difference in the overall delivery of the final product.
    </div>
</div>
<div class="gallery" id="gallery">
    <div class="gallery__content">
        <div class="h1 text-red">Gallery</div>
        <div class="lightgallery">
            <lightgallery>
                <a *ngFor="let photo of photos" [href]="'assets/photos/' + photo + '.jpg'">
                    <img [src]="'assets/photos/' + photo + '_thumb.jpg'"/>
                </a>
            </lightgallery>
        </div>
    </div>
</div>
<div class="contact-form" id="contact">
    <div class="contact-form__content">
        <div class="display-flex flex-cross-center">
            <div class="h1 flex-auto">Get In Touch</div>
            <div class="hint">
                For quotes, questions or further information please contact us.<br>
                We look forward to hearing from you!
            </div>
        </div>

        <div class="display-flex mt50">
            <form ngNativeValidate [formGroup]="form" (ngSubmit)="sendEmail()">
                <div class="display-flex">
                    <input type="text" required maxlength="50" formControlName="fromName" placeholder="Enter Name">
                    <input type="email" maxlength="50" formControlName="fromEmail" placeholder="Enter Email">
                </div>
                <div class="display-flex">
                    <input type="text" required maxlength="50" formControlName="subject" placeholder="Enter Subject">
                    <input type="text" maxlength="50" formControlName="phone" placeholder="Enter Phone Number">
                </div>
                <textarea formControlName="message" required maxlength="1000" placeholder="Enter Your Message"></textarea>
                <div>
                    <button type="submit" [disabled]="form.invalid">SEND MESSAGE</button>
                </div>
            </form>
            <div class="display-flex-column">
                <div class="display-flex-column">
                    <div class="call display-flex flex-cross-center">
                        <div class="call__icon"></div>
                        <div class="display-flex-column">
                            <div class="call__label">Call us anytime</div>
                            <div class="call__value">{{ PHONE_NUMBER }}</div>
                        </div>
                    </div>
                </div>
                <div class="display-flex-column mt20">
                    <div class="call display-flex flex-cross-center">
                        <div class="call__icon_mail"></div>
                        <div class="display-flex-column">
                            <div class="call__label">Send us a message</div>
                            <div class="call__value">{{ EMAIL }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer__content">
        <div class="display-flex flex-auto">
            <div class="display-flex-column flex-auto">
                <div class="h2">CONTACT US</div>
                <div class="email">{{ EMAIL }}</div>
                <div class="phone-number">{{ PHONE_NUMBER }}</div>
            </div>
            <div class="logo"></div>
        </div>

    </div>
</div>

