/* You can add global styles to this file, and also import other style files */
@import '~lightgallery/css/lightgallery.css';
@import '~lightgallery/css/lg-fullscreen.css';
@import '~lightgallery/css/lg-thumbnail.css';

body,
html {
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: black;
}

@red: #d76413;
@blue: #253046;
@secondaryColor: #888888;

div, img, input, textarea {
  box-sizing: border-box;
}

.flex-auto {
  flex: auto;
}

.secondary-text {
  color: @secondaryColor;
}

.bg-red {
  background-color: @red;
}

.bg-blue {
  background-color: @blue;
}

.bg-white {
  background-color: #fff;
}

.text-red {
  color: @red;
}

.p12 {
  font-size: 12px;
}

.h1 {
  font-size: 32px;
  font-weight: bold;
}

.h2 {
  font-size: 24px;
  font-weight: bold;
}
